body {
    margin: 0;
    padding: 85px;
    background-color: #fdfdfd;
}

li {
    margin: 4px;
    width: 60px;
    height: 60px;
    list-style: none;
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #333;
}

#colour-palette {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.colour-code {
    color: #333;
    font-size: 12px;
    margin-top: 66px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}