body {
    margin: 0;
    color: #333;
    padding: 85px;
    background-color: #fdfdfd;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    cursor: default;
    margin-bottom: 0;
}

p {
    cursor: default;
    margin-bottom: 26px;
}

li {
    margin: 4px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    list-style: none;
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid #333;
}

#colour-palette {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.colour-code {
    font-size: 12px;
    margin-top: 66px;
    text-align: center;
}