body {
    margin: 0;
    color: #333;
    padding: 85px;
    background-color: #fdfdfd;
    font-family: "Courier Prime", monospace;
}

h1 {
    cursor: default;
    margin-bottom: 0;
}

p {
    cursor: default;
    margin-bottom: 26px;
}

li {
    width: 80px;
    height: 80px;
    cursor: pointer;
    list-style: none;
    margin-bottom: 22px;
    border: 1px solid #00000000;
    border-bottom: 1px solid #333;
}

#colour-palette {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.colour-code {
    font-size: 12px;
    margin-top: 86px;
    margin-left: 4px;
    text-align: left;
}

#notification-list {
    margin: 0;
    top: 16px;
    right: 16px;
    height: 80px;
    position: absolute;
}

.notification {
    padding: 8px;
    color: #fdfdfd;
    border-radius: 4px;
    margin-bottom: 4px;
    background-color: #333;
}

.container {
    margin: 12px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #fdfdfd;
    box-shadow: 6px 6px #0000001a;
}

#github-url {
    color: #cecece;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    right: 0;
    bottom: 0;
    padding: 8px;
    position: fixed;
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}